<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>CrazyCard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="../../static/css/generic.css">
  <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
</head>
<body>
<nav th:replace="~{fragments/navbar.html:: navbarAnonymous}" sec:authorize="isAnonymous()"></nav>
<nav th:replace="~{fragments/navbar.html:: navbarAuthenticated}" sec:authorize="isAuthenticated()"></nav>

<div class="container">
  <div class="row">
      <form
              method="post"
              id="addStoreForm"
              role="form"
              th:action="@{/admin/stores/add}"
              th:object="${storeDto}">
        <div class="form-group" style="margin-top: 10px">
          <label for="storeNameAdd">Nome Negozio</label>
          <input type="text" id="storeNameAdd"
                 name="name"
                 th:field="*{name}"
                 placeholder="Inserisci Nome Negozio">
          <span style="margin-left: 50px;">     </span>
          <label for="storeLocalityAdd">Località</label>
          <input type="text" id="storeLocalityAdd"
                 name="locality"
                 th:field="*{locality}"
                 placeholder="Inserisci Località">
          <button type="submit" class="btn btn-secondary" style="margin-bottom: 12px">
            Registra
          </button>
          <div class="alert alert-danger" th:errors = "*{name}"
               th:if="${#fields.hasErrors('name')}"></div>
          <div class="alert alert-danger" th:errors = "*{locality}"
               th:if="${#fields.hasErrors('locality')}"></div>
        </div>
        <div class="alert alert-danger" th:if="${param.exists}">
          Negozio già registrato nel Sistema
        </div>
        <div class="alert alert-danger" th:if="${param.blank}">
          Il Nome del Negozio e la Località devono essere specificati
        </div>
        <div class="alert alert-success" th:if="${param.success}">
                    <span>
                      Negozio Registrato
                    </span>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row col-md-10">
    <h2>Negozi</h2>
  </div>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Nome</th>
      <th>Località</th>
      <th>Abilitato</th>
      <th>Licenza</th>
      <th>Azione</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "store : ${stores}">
      <td th:text = "${store.name}"></td>
      <td th:text = "${store.locality}"></td>
      <td th:text = "${store.authorized}"></td>
      <td>
        <form
                role="form"
                class="form-horizontal center"
                method="post"
                th:action="@{/admin/stores/authorize}">
          <input type="text" th:value="${store.name}"
                 name="storeName" id="storeName" style="display: none">
          <div class="form-group center">
            <button type="submit" class="btn btn-primary"
            th:if="${store.authorized}">
              Revoca
            </button>
            <button type="submit" class="btn btn-primary"
                    th:if="${not store.authorized}">
              Abilita
            </button>
          </div>
        </form>
      </td>
      <td>
        <form
                role="form"
                class="form-horizontal center"
                method="post"
                th:action="@{/admin/stores/remove}">
          <input type="text" th:value="${store.name}"
                 name="storeNameRemove" id="storeNameRemove" style="display: none">
          <div class="form-group center">
            <button type="submit" class="btn btn-primary"
                    onclick="confirm('Sei sicuro di voler rimuovere il Negozio dal Sistema?')">
              Elimina
            </button>
          </div>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>